body{overflow:visible;}
body,ul,ol,dl,dt,dd,p,input{margin:0px;padding:0px;}
li{list-style-type:none;}
img,input{border:0px;}
/* 清除浮动*/
.clr:after{  
    content:"";  
    height:0px;  
    visibility:hidden;  
    display:block;  
    clear:both;  
}    
.clr{  
    zoom:1;  
} 
a{outline:none;}
area{outline:none;}